@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";

@import './pages/reset.scss';
@import './pages/index.scss';
@import './pages/admin.scss';
